<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Docusend</title>
  <style>
        body{
            position: relative;
            min-height: 720px;
            background-color: #F1F6FF;
            /* overflow: hidden; */
            margin: 0;
            padding: 0;
        }

        header{
            height: 50px;
            background-color: #FFFFFF;
            padding: 10px;
        }

        .parent-container{
            /* background-color: black; */
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            height: 100%;
        }

        .pdf-canvas-container{
            position: relative;
            overflow: hidden;
            overflow-y: auto;
            /* width: 650px;
            height: 900px; */
            background-color: transparent;
            margin-top: 40px;
            /* margin-left: 5px;
            margin-right: 5px; */
            /* margin-bottom: 400px; */
        }

        .pdf-mirrior{
            width: 150px;
            height: 600px;
            background-color: #000;
        }

        .edit-tool-container{
            width: 250px;
            height: 600px;
            background-color: #FFFFFF;
        }

        .resizable {
            background: transparent;
            width: 100px;
            height: 100px;
            position: relative;
            top: 100px;
            left: 100px;
        }

        .resizable{
            position: relative;
            width: 100%;
            border: 3px solid #4286f4;
            box-sizing: border-box;
            text-justify: inter-word;
        }

        .text-container{
            height: 40px;
            background: transparent;
            position: absolute;
            display: flex;
            flex-direction: column;
        }

        .icon-parent-div{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .move-text-field-icon{
            cursor: move;
        }

        .bold-text-icon{
            cursor: pointer;
        }

        .tr-icon{
            cursor: context-menu;
        }

  </style>
  <!-- Load libraries first -->
  <script src="https://unpkg.com/jspdf@latest/dist/jspdf.umd.min.js"></script>
  <script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.js"></script>
</head>
<body>
    <header>Hello world</header>
    <!-- PDF editor is loaded here -->
    <canvas id="PDFcanvas"></canvas>
  <!-- Load your custom JavaScript file last -->
  <script type="module" src="./js/editor-script.js"></script>
</body>
</html>
