<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="./css/main.css"/>
  <script type="module" src="https://unpkg.com/jspdf@latest/dist/jspdf.umd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.js"></script>
  <script type="module" src="https://cdn.jsdelivr.net/npm/pdf-lib/dist/pdf-lib.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>DocSend Editor</title>
</head>
<body>
  <nav style="background-color: #f1f1f1; padding: 10px; margin-bottom: 10px;">
    <div class="nav-container" style="display: flex; justify-content: space-around;">
        <div class="nav-left">
            <div class="brand">DocSend</div>
        </div>
        <div class="nav-middle">
            <div class="brand">Others</div>
        </div>
        <div class="nav-right">
            Right side
        </div>
    </div>
  </nav>
  <!-- <iframe id="pdf" style="width: 100%; height: 100%;"></iframe> -->
  <div class="container">
        <div class="tools">
            <div style="border-bottom: 1px solid #f1f1f1; padding: 5px; display: flex; justify-content: center;">
                My Tools
            </div>
            <div style="height: 500px; overflow-y: auto; overflow-x: hidden; display: flex; justify-content: center; margin-top: 10px;">
                <div id="previewer-parent-div">
                    <!-- Document previewer screen is rendered here -->
                </div>
            </div>
        </div>
        <div id="pdf-container" style="position: relative; height: 550px; overflow: auto; overflow-y: scroll; margin: 10px;"><!-- pdf document is loaded here --></div>
        <div class="tools">
            <div class="title">
                <h4>Editor Tool</h4>
            </div>
            <div class="tools-container">
                <div class="font-tools">
                    <div class="font-size-container">
                        <select id="font-size-selector" class="font-size-selector">
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="14">14</option>
                            <option value="18">18</option>
                            <option value="24">24</option>
                            <option value="30">30</option>
                            <option value="36">36</option>
                            <option value="48">48</option>
                            <option value="60">60</option>
                            <option value="72">72</option>
                            <option value="96">96</option>
                        </select>
                    </div>
                    <div class="color-picker-container">
                        <input type="color" class="color-picker" id="color-picker" value="#242424">
                    </div>
                    <div class="add-img-container">
                        <button class="add-img" id="add-image">
                            <img src="./icons/add-mage-icon.svg" width="20" height="20"/>
                        </button>
                    </div>
                </div>
                <!-- <li>
                    <button id="loadAndDisplayPdf">Load and Display PDF</button>
                </li> -->
                <li>
                    <button id="modifyAndDownloadPdf">Save document</button>
                </li>
            </div>
        </div>
  </div>
  <script type="module" src="./js/main.js"></script>
</body>
</html>
